bcrypt==4.2.0
cryptography==44.0.0
fastapi==0.115.0
psycopg2-binary==2.9.10
python-jose==3.3.0
python-multipart==0.0.12
SQLAlchemy==2.0.36
uvicorn==0.32.0
passlib==1.7.4
pytest==8.3.3
httpx==0.27.2
pytest-asyncio==0.24.0
aiofiles==24.1.0
jinja2==3.1.4
langchain==0.3.0
python-dotenv==1.0.1
google-generativeai>=0.7.0
langchain-google-genai>=1.0.0
markdown==3.7
bs4==0.0.2